* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/mountains.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.div_portal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333333;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    transition: background-color 0.3s ease;
    
}
.portal {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 20px;
    text-transform: uppercase;
}

.space_ship {
    width: 50px;
    height: 50px;
    transition: transform 0.5s ease;
}

@keyframes flyUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-500px); 
    }
}

.portal:hover, .div_portal:hover {
    background-color: #2E2741;
}

.div_portal:hover .space_ship,
.portal:hover + .space_ship {
    animation: flyUp 10s forwards; 
}